/* ACCUEL */

h1{
    font-size: 3rem;
    line-height: 1;
    font-family: var(--font-cunia);
    color: var(--ocean-black);
}

.hero-content p{
  color:  var(--ocean-black);
  text-align: justify;
}


.service h3 {
}

.service-card a, .article-card-content a {
  width: 100%;
  height: 100%;
  color: var(--dark-green);
  font-weight: 500;
}

.cta-content p {
    color: var(--dark-green) !important;
}

@media (max-width: 767px) {
  .service h3{
    margin-bottom: 40px;
  }

  .testimonial-left-column h3, .section-engagement h3{
    margin-bottom: 20px;
  }

  .cta-container h3{
    margin-bottom: 20px;
  }


}
    

/* SERViCES */

.engagement-card p{
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    text-align: center;
    height: 2rem;
}

.options h3 {
  margin-bottom: 60px ;
}

@media (max-width: 767px) {
  .engagement-card p{
    font-size: 1rem !important;
  }
  .options h3 {
  margin-bottom: 40px ;
  }
  
  .option-card h4 {
    line-height: 1.5em;
  }
}


/* REALiSATiONS */

.project-card_description h4{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.project-card_description p{
    font-weight: 200;
    text-align: left;
}

.project-card-bulletPoint h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: left;
}

.project-card-bulletPoint p {
    text-align: justify;
}

@media (max-width: 767px) {
  .project-card_description h4{
    font-size: 1rem;
  }
  
  .project-card-bulletPoint h4 {
    font-size: 1rem;
  }
}



/* ACTUS */

/* CONTACT */

/* SHARED */


h2{
    font-size: 2.5rem;
    font-family: var(--font-cunia);
}

h3{
    position: relative;
    display: inline-block !important;
    width: fit-content;
    font-size: 2rem;
    font-family: var(--font-cunia);
    font-weight: 400;
    color: var(--ocean-black);
    margin-bottom: 60px;
}

h3::after{
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 40%;
  background-color: #ffa51383;
  border-radius: 5px;
  z-index: -1;
}



h4{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font-tiktok);
    color: var(--ocean-black);

}

h5{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-tiktok);
    color: var(--ocean-black);

}



p  {
    font-family: var(--font-lato);
    color: var(--ocean-black);
    font-weight: 300;
    line-height: 1.5rem;
    
}

a {
    font-family: var(--font-lato);
}


@media (max-width: 1023px) {
    h1 {
        
    }
}

/* Mobile (jusqu'à 767px) */
@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }