/* ACCUEL */

h1{
    font-size: 3rem;
    line-height: 1;
    font-family: var(--font-cunia);
    color: var(--cream);
}

.hero-content p{
  color: var(--cream);
  text-align: justify;
}


.service h3 {
  margin-bottom: 60px;
}

.light-title{
  color: var(--cream);
}

.service-card a, .article-card-content a {
  width: 100%;
  height: 100%;
  color: var(--dark-green);
  font-weight: 500;
}

.cta-content p {
    color: var(--dark-green) !important;
}

@media (max-width: 767px) {
  .service h3{
    margin-bottom: 40px;
  }

  .testimonial-left-column h3, .section-engagement h3{
    margin-bottom: 20px;
  }

  .cta-container h3{
    margin-bottom: 20px;
  }


}
    

/* SERViCES */

.engagement-card p{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    text-align: center;
}

.options h3 {
  margin-bottom: 60px ;
}

@media (max-width: 767px) {
  .engagement-card p{
    font-size: 1rem !important;
  }
  .options h3 {
  margin-bottom: 40px ;
  }
  
  .option-card h4 {
    line-height: 1.5em;
  }
}


/* REALiSATiONS */

.project-card_description h4{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.project-card_description p{
    font-weight: 200;
    text-align: left;
}

.project-card-bulletPoint h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: left;
}

.project-card-bulletPoint p {
    text-align: justify;
}

@media (max-width: 767px) {
  .project-card_description h4{
    font-size: 1rem;
  }
  
  .project-card-bulletPoint h4 {
    font-size: 1rem;
  }
}



/* ACTUS */

.banner-title-actualites{
  color: var(--cream);
  margin-bottom: 20px;
}

.banner-text-actualites{
  color: var(--cream);
  text-align: justify;
  font-weight: 100;
  width: 575px;
  margin-bottom: 20px;
}

/* CONTACT */

/* SHARED */


h2{
    font-size: 2.5rem;
    font-family: var(--font-cunia);
}

h3{
    font-size: 2.5rem;
    font-family: var(--font-tiktok);
    font-weight: 400;
    color: rgb(68, 78, 60);
}



h4{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-tiktok);
    color: var(--dark-green);
}

h5{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-tiktok);
    color: var(--dark-green);
}



p  {
    font-family: var(--font-tiktok);
    color: var(--dark-green);
    font-weight: 200;
}

a {
    font-family: var(--font-tiktok);
    text-decoration: none;
}


@media (max-width: 1023px) {
    h1 {
        
    }
}

/* Mobile (jusqu'à 767px) */
@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
    





