:root {
  --section-padding-s: 2vh 0;
  --section-padding-m: 4vh 0;
  --section-padding-l: 6vh 0;
  --section-padding-xl: 10vh 0;

  --container-padding: 4vh;
  --section-spacing: clamp(1.5rem, 4vw, 4rem);
  --content-gap: clamp(1rem, 3vw, 3rem);

  /* Couleurs */
  --cream: rgb(250, 247, 239);
  --green: #8C9C7C;
  --orange:#c7573660;
  --dark-green: #444e3c;
  --light-green: #bfcab4;
  --light-green_hover: #cfddc2;
  --light-grey: #9aa09b42;
  --grey: #75727D;

  /* Polices */
  --font-lato: 'Lato', Arial, sans-serif;
  --font-cunia: 'Cunia', Arial, sans-serif;
  --font-tiktok: "TikTok Sans", sans-serif;

  /* Tailles */
  --section-xs: 30vh;
  --section-s: 40vh;
  --section-m: 50vh;
  --section-l: 70vh;
  --section-xl: 80vh;

  --cards-s_: 30vh;

  /* Espacement */
  --spacing-xs: 0.5rem;   /* 8px */
  --spacing-sm: 1rem;     /* 16px */
  --spacing-md: 2rem;     /* 32px */
  --spacing-lg: 3rem;     /* 48px */
  --spacing-xl: 4rem;     /* 64px */
  --spacing-2xl: 6rem;    /* 96px */
  
  --padding-cards: 2rem 2rem;
  --gap-cards: 1rem;
  --gap-cards-l: 2rem;
  --max-width: 70vw;

  /* Rayons */
  --radius: 20px;
  --radius-header: 30px;
  --radius-banner: 30px;
  --radius-button: 100px;

  /* Shadows */
  --shadow: 1px 5px 7px rgb(0, 0, 0, 0.2);
  --shadow-header: 0 2px 5px 0 rgb(0, 0, 0, 0.1);

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;



  --font-size-xs: 1rem;
  --font-size-s: 1.2rem;
  --font-size-m: 2rem;
  --font-size-l: 3rem;
  --font-size-xl: 4rem;


}