:root {
  /* Couleurs */
  --cream: #fcfbf9;
  --green: #8C9C7C;
  --orange:#ffa51383;
  --light-green: #DBE0D5;
  --ocean-black: #232826;
  --light-grey: #9aa09b42;
  --dark-green-lighter: #58644e;

  /* Polices */
  --font-lato: 'Lato', Arial, sans-serif;
  --font-cunia: 'Cunia', Arial, sans-serif;
  --font-tiktok: "TikTok Sans", sans-serif;


  /* Espacement */
  --spacing-xs: 0.5rem;   /* 8px */
  --spacing-sm: 1rem;     /* 16px */
  --spacing-md: 2rem;     /* 32px */
  --spacing-lg: 3rem;     /* 48px */
  --spacing-xl: 4rem;     /* 64px */
  --spacing-2xl: 6rem;    /* 96px */
  
  --padding-cards: 3rem 3rem;
  --gap-cards: 1rem;
  --gap-cards-l: 2rem;
  --max-width: 70vw;

  /* Rayons */
  --radius: 5px;
  --radius-banner: 5px;
  --radius-button: 5px;

  /* Shadows */
  --shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.1);
  --shadow-header: 0 2px 5px 0 rgb(0, 0, 0, 0.1);
  --shadow-button: 0 5px 5px rgb(0, 0, 0, 0.2);
}