.banner-container-actualites {
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: center;
  justify-content: center !important;
  padding-bottom: 10vh;
}

.banner-text-actualites{
  color: var(--cream);
  text-align: justify;
  font-weight: 100;
  width: 575px;
  margin-bottom: 30px;

}