.section-banner-actualites{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 15vh;
  margin: 6vh auto 0 auto;
}

.banner-container-actualites {
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: center;
  justify-content: center !important;
}

.banner-text-actualites {
  color: var(--ocean-black);
  text-align: center;
  font-weight: 100;
  width: 575px;
  margin-bottom: 30px;

}

.banner-title-actualites{
  color: var(--ocean-black);
  margin-bottom: 20px;
}


@media (max-width: 1023px) {
  .banner-container-actualites {
    width: 50vw;
    padding-bottom: 8vh;
    gap: 10px;
  }
  
  .banner-text-actualites {
    width: 90%;
    max-width: 500px;
    margin-bottom: 25px;
  }
}

/* Mobile (jusqu'à 767px) */
@media (max-width: 767px) {
  .banner-container-actualites {
    width: 90vw;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 10px;
  }
  
  .banner-text-actualites {
    width: 100% !important;
    margin-bottom: 20px;
    text-align: left;
  }
}
