.template-blog-custom {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 40px auto;
  background-color: var(--light-grey);
  border-radius: 10px;
  padding: 2rem 0;
}

.article-header, .article-main-content, .article-hero-image, .article-main-title{
  margin: 2vh 5vw  !important;
}

.article-hero-image{
}

@media (max-width: 1023px) {
  .template-blog-custom{
    width: 70vw;
  }
}

@media (max-width: 767px) {
  .template-blog-custom{
    width: 80vw;
  }
}