.section-project{
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 50vh;
    margin: 80px auto;
}

.fiv-inner {
    width: 50vw !important;
    height: 50vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 5px 25px ;
}

.fiv-prev, .fiv-next {
    border-radius: 15px;
}

.fiv-count {
    display: none !important;
}

.fiv-ctrls {
    padding: 0 10%;
}

figure img {
    height: 100% !important;
    width: 100% !important;
}

.project-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh !important;

    gap: 1rem;
    padding: 1rem 2rem;
}

.project-detail{
}


