body{
    background-color: var(--cream);
}

.wp-block-group{
    padding-left: 216px;
    padding-right: 216px;
}

h1, h2{
    font-family: var(--font-cunia);
    text-transform: uppercase;
}

p {
    font-family: var(--font-lato);
}