/* Cunia */
@font-face {
    font-family: 'Cunia';
    src: url('../fonts/Cunia.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Lato Light */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Lato Regular */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Lato Black */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
  /* Couleurs */
  --cream: #FDFDFB;
  --green: #8C9C7C;
  --light-green: #DBE0D5;
  --black: #232826;
  --light-grey: #F0F0EE;
  --grey:#5A6350;
  --red: #FF3C0026;

  /* Polices */
  --font-lato: 'Lato', Arial, sans-serif;
  --font-cunia: 'Cunia', Arial, sans-serif;

  /* Tailles */
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  /* Espacement */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Rayons */
  --radius: 8px;
}
