.buttons a {
    border-radius: var(--radius-button);
    padding: 20px 20px;
    background-color: var(--green);
    color: var(--cream);
    font-family: var(--font-cunia);
    font-size: 1rem;
    font-weight: 200;
    box-shadow: var(--shadow-button);
}

.buttons a:hover{
    background-color: var(--dark-green-lighter);
    transition: ease-in-out 0.3s;
}

@media (max-width: 1023px) {
    .container {
        
    }
}

@media (max-width: 767px) {
    .buttons a {
        border-radius: var(--radius-button);
        padding: 15px;
        background-color: var(--green);
        color: var(--cream);
        font-family: var(--font-cunia);
        font-size: 0.8rem;
        font-weight: 200;
        box-shadow: var(--shadow-button);
    }
}



