.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
  background-color: var(--light-green);
  padding: 0 2rem;
  border-radius: 30px;
  position: relative;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.hero-content p{
  width: 70%;
}

.hero-media {
  width: auto;
  height: auto;
  max-width: 100%; 
  width: 50%;
}

@media (max-width: 1023px) {
  h1{
    font-size: 2rem !important;
  }

  .hero {
    margin-top: 1.5vh;
    height: 70vh;
}
  .hero-container {
    width: 90vw;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .hero-content {
    width: 100%;
    align-items: center;
    gap: 1.5rem;
  }

  .hero-content p{
    width: 100%;
    text-align: center !important;
  }

  .hero-media {
      width: 60%;
  }

@media (max-width: 767px) {
      h1{
      font-size: 1.5rem !important;
  }

    .hero-media {
      width: 80%;
  }

}

}