.section-engagement {
  display: flex;
  margin: 0 auto 0 auto;
  width: 80vw;
  border-radius: 10px;
}

.engagement-container {
  display: flex;
  align-items: center;
  gap: var(--gap-cards);
  width: 70vw;
}

.engagement-image {
  width: 40%;
}

.engagement-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.engagement-content h2 {
  text-align: justify;
}

.engagement-content p {
  text-align: justify;
}

.engagement-content-keywords {
  text-transform: uppercase;
  font-family: var(--font-lato);
  font-weight: 700;
}

@media (max-width: 1023px) {

}

@media (max-width: 767px) {
  .section-engagement {
    margin: 0 auto 120px auto;
    padding: 120px 0;

  }

  .engagement-container {
    flex-direction: column;
    width: 80vw;
  }

  .engagement-image{
  display: none;
}

  .engagement-content {
    width: 100%;
    align-items: center;

  }
}