.partners {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  position: relative;
}

.partners-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  border-radius: 30px;
  box-shadow: var(--shadow-header);
  background-color: var(--cream);
  height: 100%;
  position: absolute;
  z-index: 2;
  top: -4vh;
}

.partner-image {
  width: 60px;
  height: auto;
}

@media (max-width: 1023px) {
  .partners {
    position: static;
    height: auto;
    margin-top: 5vh;
}

  .partners-container {
    justify-content: space-between;
    width: 80vw;
    border-radius: none;
    box-shadow: none;
    position: static;
  }

  .partner-image {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 767px) {

}