/* Votre CSS desktop reste identique */
.testimonial {
  display: flex;
  margin:  60px auto 180px auto;
  width: 70vw;
  align-items: center;
  justify-content: space-between;
}

.testimonial-left-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100% !important;
  width: 20% !important;
}

.testimonial-left-column h3{
  margin: 0 !important;
}

.testimonial-left-column h3::after{
  display: none;
}

.testimonial-left-column img{
  width: 80px;
}


.testimonial-cards {
  display: flex;
  gap: 15px;
  width: 75%;
}

.testimonial-card {
  flex: 0 0 calc((100% - 15px * 2) / 3);
  background-color: var(--light-grey);
  border-radius: var(--radius);
  padding: 20px;
  min-height: var(--cards-s);
  gap: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.testimonial-card > p {
  line-height: 1.6;
  font-style: italic;
  margin: 0;
  text-align: justify;
}

.testimonial-card_row {
  display: flex;
  padding-top: 2vh;
  margin-top: auto;
}

.testimonial-card_row p{
  font-weight: 400;
}

@media (max-width: 1023px) {
  .testimonial {
    flex-direction: column;
    width: 90vw;
    margin:  80px auto 80px auto;
  }

  .testimonial-left-column {
    width: unset !important;
    margin-bottom: 4vh !important;
  }

  .testimonial-left-column h3::after{
  display: unset;
}

  .testimonial-left-column img{
    display: none;
  }

  .testimonial-cards {
    width: 100%;
  }
}

@media (max-width: 767px) {

  .testimonial-cards {
    flex-direction: column;
    width: 100%;
  }
  
  .testimonial-card {
    max-height: 180px !important;
    width: 100%;
  }
  
  .testimonial-card > p {
    font-size: 0.95rem !important;
    line-height: 1.5 !important;
    flex-grow: 1 !important;
  }
  
  .testimonial-card_row {
    padding-top: 0;
  }
  
  .testimonial-card_row .wp-block-image img {
    width: 40px !important;
    height: 40px !important;
  }
}