.steps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  background-color: var(--light-green);
  padding: 10vh 0;
  margin-bottom: 140px;
}

.steps h3, .steps h4{
  color: var(--dark-green);
}

.steps h3{
  margin-bottom: 100px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--max-width);
}

.step-cards-container{
  display: flex;
  align-items: center;
  gap: 4vw;
  position: relative;
}

.step-cards-container::after{
  content: '';
  position: absolute;
  background-color: rgba(68, 78, 60, 0.4);
  width: 70vw;
  height: 1px;
  top: 30px;
  z-index: 1;
}

.steps-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2vh;
  z-index: 2;
}

.steps-card p {
  color: var(--dark-green);
  text-align: justify;
}

.steps-card :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--dark-green);
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--cream);
  border: solid 3px var(--dark-green);
  border-radius: 50%;
  box-shadow: var(--shadow-header);
}