.who{
  width: var(--max-width);
  display: flex;
  margin-bottom: 140px;
}

.who-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.who-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  gap: 40px;
  text-align: justify;
}

.who-media{
  width: 40%;
}