.who{
  width: var(--max-width);
  display: flex;
  margin: 0 auto 140px auto;
  width: 70vw;
}

.who-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.who-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 40px;
  text-align: justify;
}

.who-content p{
  text-align: center;
}

.who-content h3{
  margin: 0 !important;
}

.who-media{
  width: 50%;
}

.who-media img{
  border-radius: 5px;
}

@media (max-width: 767px) {
.who{
  width: 90vw;
  margin: 0 auto 80px auto;
}

.who-container{
  flex-direction: column !important;
  gap: 5px;
}

.who-content{
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 5px;
}

.who-media{
  width: 100%;
}

.who-media img{
  border-radius: 5px 5px 0 0;
}
}