<!-- wp:template-part {"slug":"header 2","theme":"main-theme","area":"header"} /-->
<!-- wp:group {"className":"template-blog-custom","layout":{"type":"constrained"}} -->
<div class="wp-block-group template-blog-custom">
    <!-- wp:post-title {"level":2,"className":"article-main-title"} /-->
   
    <!-- wp:group {"className":"article-header"} -->
    <div class="wp-block-group article-header">
       
        <!-- wp:group {"className":"article-meta-info","layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group article-meta-info">
            <!-- wp:post-author {"className":"article-author"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
   
    <!-- wp:post-content {"className":"article-main-content"} /-->
   <!-- wp:post-featured-image {"className":"article-hero-image"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"main-theme","area":"uncategorized"} /-->