footer {
    height: 10vh;
    width: 90vw;
    margin: 0 auto;
    padding: 0 10vw;
    display: flex;
    background-color:var(--light-green);
    border-radius: 10px;
    margin-bottom: 2vh;
    flex-direction: column;
    justify-content: space-between;
}
.footer-socials {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
}

.logo {
    width: 10%;
    display: none;
}

.footer-nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.footer-nav a {
    color: black;
}

.copyright {
    text-align: center;
    height: 30%;
    font-size: 0.8rem;
    text-decoration: underline;
    display: none;
}