header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 10vh;
    position: sticky;
    z-index: 5;
    top: 0;
    background: var(--cream);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 100%;
    text-transform: uppercase;
    font-family: var(--font-lato);
    font-weight: 600;
}

.header-nav_logo {

}

.header-nav-menu{
    display: flex;
    gap: 4rem;
}

.header-nav_button a:hover{
    background-color: var(--green);
    color: var(--dark-green);
    transition: ease-in-out 0.3s;

}
.header-nav-mainItem:hover{
    color: var(--green);
}

.wp-block-navigation__submenu-icon svg {
    transition: transform 0.3s ease;
}


/* Container du menu déroulant */
.wp-block-navigation__submenu-container {
    background: var(--cream);
    box-shadow: 0 10px 30px rgba(19, 17, 20, 0.15);
    border: 3px solid var(--green) !important;
    border-radius: 5px !important;
    min-width: 280px;
    padding: 8px 0;
}

/* Items du sous-menu */
.wp-block-navigation-item__label:hover{
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
    display: block;
    padding: 14px 20px;
    color: var(--bleu-nuit);
    font-weight: 300;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover {
    background-color: var(--light-green);
    color: var(--ocean-black);
    padding-left: 20px;

}

@media (max-width: 1023px) {
    header{
    }
    .header-nav {
        width: 90vw;
    }
}

/* Mobile (jusqu'à 767px) */
@media (max-width: 767px) {
    header {
        min-height: 8vh;
    }

    .header-nav {
        width: 90vw;
    }

    .header-nav_logo {
        width: 80px;
        flex-shrink: 0;
        margin-right: auto;

    }

    .header-nav_button a{
        display: none !important;
    }

    .header-nav-menu {
        position: static !important;
        transform: none;
        left: auto;
        margin-left: auto;
    }
}